framework:
    secret: '%env(APP_SECRET)%'
    http_method_override: false
    handle_all_throwables: true
    php_errors:
        log: true

    session:
        handler_id: null
        cookie_secure: false
        cookie_samesite: lax
        cookie_httponly: true
        storage_factory_id: session.storage.factory.native
        name: PHPSESSID
        cookie_path: /
        cookie_domain: null

when@test:
    framework:
        test: true
        session:
            storage_factory_id: session.storage.factory.mock_file
