name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build the backend Docker image
        run: docker build . --file backend/Dockerfile --tag my-image-name:$(date +%s)

      - name: Build the frontend Docker image
        run: docker build . --file frontend/Dockerfile --tag my-image-name:$(date +%s)
